<div class="container">
	<div class="header">
		<div class="filtro">
			<h1>Estudiantes</h1>
			<form class="example-form">
				<mat-form-field style="width: 80%;" appearance="fill">
					<mat-label>Buscar</mat-label>
					<input matInput placeholder="Buscar...">
					<mat-icon matSuffix>search</mat-icon>
				</mat-form-field>
			</form>
		</div>
		<div class="button-actions">
			<button (click)="onClickNuevo()" mat-raised-button color="primary">Nuevo</button>
		</div>
	</div>
	<div class="body">

		<mat-card *ngFor="let item of listaPersonas | async">
			<img mat-card-image src="{{item.foto}}" alt="">
			<mat-card-content>

				<a>{{item.nid_persona}}</a> <br>
				<a>{{item.idgrado}}</a> <br>
				<a>{{item.nombre}}</a> <br>
				<a>{{item.apellidoPaterno}}</a> <br> 
				<a>{{item.apellidoMaterno}}</a> <br>
				<a>{{item.fecha_nacimiento}}</a> <br>


			</mat-card-content>
			<mat-card-actions>
				<!-- <button mat-button>Borrar</button> -->
				<button mat-button mat-raised-button color="warn" (click)="delete(item.nid_persona)">Borrar <mat-icon>delete</mat-icon></button>
			</mat-card-actions>
		</mat-card>

	</div>

	<div class="footer">

	</div>
</div>
